* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
background: linear-gradient(to bottom, #e2b946, #63ccda);
margin: 0;
font-family: 'Calibri', Garamond, 'Comic Sans MS';

}


header {
  text-align: center;
}


header img {
  width: 75%;
  margin: 0 auto;
}



nav{



}

nav a{
 


}


nav a:hover{
 text-decoration: underline;
}



article{
padding: 10px;
margin: 10px;

}

article p {
background: rgba(145, 145, 72, 0.219);
padding: 5px;
margin-bottom: 10px;
color: rgb(7, 0, 0);
}

article img {
    width: 30%;
    float: right;
}


h1{
color: rgb(91, 252, 252);

}

h2{
color: rgb(91, 252, 252);

}